.email-app-wrapper {
    height: 89%;
    width: 100%;
    display: flex;
}

.aside {
    width: 240px;
    height: 100%;
}

.compose-new-mail {
    width: 100%;
    position: absolute;
    bottom: 0;
}