.email-app-wrapper {
    height: 89%;
    width: 100%;
    display: flex;
}



.compose-new-mail {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* aside animation */


/* Enter and leave animations can use different */
/* durations and timing functions.              */
/* .slide-fade-enter-active { 
    transition: all .3s ease;

}

.slide-fade-leave-active {
    transition: all .8s ease reverse;
}

.slide-fade-enter,
.slide-fade-leave-to

.slide-fade-leave-active below version 2.1.8
    {
    transform: translateX(70px);
    opacity: 0;

}
/*  */




@media(max-width:700px) {
    .aside-mobile {
        position: absolute;
        z-index: 155;
        background-color: white;
        border-radius: 0 0 50px;

    }

    .email-aside-wrapper {
        height: 47%;
    }


}

@media(max-width:500px) {
    .email-details-wrapper .bottom {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .email-n-toolbar-wrapper .rigth-toolbar {
        width: 80px;
        background-color: white;
        padding-left: unset;
    }


}


.activlink div {
    background-color: #F44336
}

.activlink button {
    color: white
}