@font-face {
    font-family: 'google';
    src: url('/css/fonts/NotoSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: google;
    color: #202124;

}

html {
    height: 100vh;
    width: 100%;

}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;

}

button:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
    resize: none;

}

a {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F44336;
}