@font-face {
    font-family: 'google';
    src: url('/css/fonts/NotoSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: google;
    color: #202124;
    list-style-type: none;

}

button {
    cursor: pointer;
}

hr {
    margin: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100%;

}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;

}

button:focus {
    outline: 0 none;
    background-color: unset
}

select:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

i:focus {
    outline: 0;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F44336;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}