/* nav-bar cmp */
.nav-wrapper nav {
    margin: 0;
    height: 70px;
    background-color: white;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9e9e9e33;
    transition: 0.3s;
}

.nav-wrapper .logo-ham-container {
    width: 240px;
    display: flex;
    align-items: center;
}

.nav-wrapper .hamburger-wrapper button {
    background-color: unset;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.nav-wrapper .hamburger-wrapper button:hover {
    background-color: #9e9e9e33;
}

.nav-wrapper .hamburger-wrapper img {
    /* background-color: aqua; */
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.nav-wrapper .logo-wrapper img {
    width: 44px;
    height: 40px;
    margin-right: 20px;
}

.nav-wrapper .search-wrapper {
    width: 742px;
    height: 46px;
    position: relative;

}

.nav-wrapper .search-wrapper input {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background-color: brown;
    border: 1px solid #9e9e9e33;
    background-color: unset;
}

.nav-wrapper .apps-box-wrapper button {
    background-color: unset;
    border: none;
    width: 60px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.nav-wrapper .apps-box-wrapper button:hover {
    background-color: #9e9e9e33;
}

.nav-wrapper nav:hover {
    box-shadow: 0px 3px 10px 0px #607d8b87;
}

.nav-wrapper .filted-list {
    cursor: pointer;
    /* border: solid 1px #f4f4f4; */
    border-top: none;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1;
    transition: 0.3s;

}

.nav-wrapper .filted-list {
    -webkit-box-shadow: 0px 15px 39px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 39px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 39px -7px rgba(0, 0, 0, 0.75);
}

.nav-wrapper .filted-list ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
}

.nav-wrapper .filted-list ul li {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 10px;
    transition: 0.3s;

}

.nav-wrapper .filted-list ul:last-child {
    border: none;
}

.nav-wrapper .filted-list ul li:hover {
    background-color: #cddbe3;
    -webkit-box-shadow: -4px 0px 0px 0px #f44336;
    -moz-box-shadow: -4px 0px 0px 0px #f44336;
    box-shadow: -4px 0px 0px 0px #f44336;
}

.nav-wrapper .filted-list ul li .option {
    height: 25px;
    overflow: hidden;
}

/* nav-bar-apps-box */
.apps-wrapper {
    position: absolute;
    right: 0;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 13;
    transition: 0.3s
}

.apps-wrapper:hover {
    -webkit-box-shadow: -23px 29px 73px -43px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -23px 29px 73px -43px rgba(0, 0, 0, 0.75);
    box-shadow: -23px 29px 73px -43px rgba(0, 0, 0, 0.75);

}

.apps-wrapper button {
    background-color: unset;
    border: solid 1px white;
    transition: 0.3s;

}

.apps-wrapper .apps-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apps-wrapper .apps-container .btn-wrapper {
    display: flex;
}

.apps-wrapper button:hover {
    transform: rotate(3deg);
}

.apps-wrapper img {
    transition: 0.3s;
}

.email-app-loading {
    background-color: bisque;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* animation */

.v-enter-active {
    animation: slide .7s;
}

.v-leave-active {
    animation: slide .7s reverse;
}

@keyframes slide {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }

    60% {
        opacity: (1)
    }

    100% {
        transform: scale(1);

    }
}