/* email-preview-cmp */

.email-preview-wrapper {
    width: 1070px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f5f5cc;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.email-preview-wrapper .email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* email-aside-cmp */
.email-aside-wrapper {
    background-color: yellowgreen;
    width: 200px;
}

/* email-compose-cmp */
.email-compose-wrapper {
    width: 500px;
    height: 500px;
    background-color: blueviolet;

}

.email-compose-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email-compose-wrapper .main-form {
    display: flex;
    flex-direction: column;

}

.email-compose-wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-compose-wrapper .bottom {
    position: absolute;
    bottom: 0;
}

.email-compose-wrapper textarea {
    height: 340px;
}

/* email-details-cmp */
.email-details-wrapper .email-container {
    border: solid 2px black;
}