/* email-preview-cmp */
.email-n-toolbar-wrapper {
    display: flex;
}

.email-preview-wrapper {
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f5f5cc;
    padding: 10px;
    cursor: pointer;
}

.email-preview-wrapper .email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.email-preview-wrapper .email-container .email-subject {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-right: 20px;

}

.email-preview-wrapper .email-container .email-body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-right: 20px;

}

.email-n-toolbar-wrapper .rigth-toolbar {
    width: 80px;
    background-color: #f2f5f5cc;
}

.email-n-toolbar-wrapper .rigth-toolbar button {
    height: 100%;
    border: none;
    background-color: #f2f5f5cc;

}

.email-n-toolbar-wrapper .rigth-toolbar button i {
    transform: scale(2);
    color: #607d8b;
    cursor: pointer;
    background-color: #f2f5f5cc;

}



/* email-aside-cmp */
.email-aside-wrapper {
    width: 200px;
    height: 100%;
}

/* email-compose-cmp */
.email-compose-wrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    -webkit-box-shadow: 0px -1px 45px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 45px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 45px -15px rgba(0, 0, 0, 0.75);
    background-color: white;


}

/* .email-compose-wrapper:active {
    -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.75);
} */

.email-compose-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px 0 15px;

}

.email-compose-wrapper .main-form {
    height: 355px;
    display: flex;
    flex-direction: column;
}

.email-compose-wrapper form button {
    width: 72px;
    height: 36px;
    border: none;
    background-color: #1a73e8;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.email-compose-wrapper form button:hover {
    border-radius: 5px;

    background-color: #1a73e8bf;
}

.email-compose-wrapper form input {
    border: none;
    border-bottom: 1px solid #cfdee6;
    height: 36px;
    padding: 10px 0 10px 0;
    font-size: 20px;
}

.email-compose-wrapper form textarea {
    border: none
}

.email-compose-wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202124;
}

.email-compose-wrapper .top h1 {
    margin-left: 17px;
}

.email-compose-wrapper .top button {
    background-color: unset;
    border: none;
    color: white;
    margin-right: 18px;
    cursor: pointer;
}

.email-compose-wrapper .top button i {
    color: white;
}

.email-compose-wrapper .top h1 {

    color: white;
}

.email-compose-wrapper .bottom {
    position: absolute;
    bottom: 0;
}

.email-compose-wrapper textarea {
    height: 340px;
}

/* email-details-cmp */
.email-details-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.email-details-wrapper .email-container {
    border: solid 1px #e3e3e3;
}

.email-details-wrapper .email-container h1 {
    font-size: 1.35em;
}

.email-details-wrapper .email-container .top {
    position: fixed;
    height: 50px;
    display: flex;
    display: flex;
    width: 100%;
    background-color: #F44336;
    margin-top: -1px;


}

.email-details-wrapper .email-container .main {
    margin-top: 60px;
}

.email-details-wrapper .email-container .top button:first-child {
    font-size: 20px;
    color: white;
}

.email-details-wrapper .email-container .top button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

.email-details-wrapper .email-container .top button i {
    color: white;
    transition: 0.3s;

}

.email-details-wrapper .email-container .top button i:hover {
    color: #eccdcd;
    transform: rotate(15deg)
}

.email-details-wrapper .email-container .form-n-btn-wrapper {}

.email-details-wrapper .email-container .form-n-btn-container {
    width: 90%;
    margin: 0 auto;
}

.email-details-wrapper .email-container .form-n-btn-container input {
    border: none;
    border-bottom: 1px solid #cfdee6;
    height: 36px;
    padding: 10px 0 10px 10px;
    font-size: 20px;
    margin: 0 15px 0 8px;

}

.email-details-wrapper .email-container .form-n-btn-container textarea {
    height: 100px;
    border: none;
    margin: 15px;
}

.email-details-wrapper .email-container .form-n-btn-container form button {
    width: 72px;
    height: 36px;
    border: none;
    background-color: #1a73e8;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin: 15px;
}

.email-details-wrapper .email-container .form-n-btn-container form button:hover {
    border-radius: 5px;

    background-color: #1a73e8bf;
}

.email-details-wrapper .reply-form form {
    display: flex;
    flex-direction: column;
    border-radius: 21px;

    -webkit-box-shadow: 0px -5px 63px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -5px 63px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -5px 63px -20px rgba(0, 0, 0, 0.75);
}

.email-details-wrapper .reply-form form h3 {
    margin: 15px;
}

.email-details-wrapper .bottom {
    margin-top: 15px;
}

.email-details-wrapper .bottom button {
    /* width: 100px; */
    height: 36px;
    border: none;
    background-color: #ffffff;
    font-size: 17px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.email-details-wrapper .bottom button:hover {
    background-color: #c4c4c4;

}



/* email-list-cmp */
.emails-list-wrapper {
    border: solid 1px #c4c4c4;
    overflow: scroll;
    width: 100%;
}

.emails-list-wrapper .filter-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #F44336;

}

.emails-list-wrapper .filter-wrapper select {
    color: white;
    background-color: #f44336;
    height: 50px;
    width: 110px;
    font-size: 21px;
    cursor: pointer;
    border: none;
}

.clicked {
    background-color: #cfdee6;
}