
section.notes-list-wrapper .list-container{
    display: flex;
    flex-wrap: wrap;
}

section.notes-list-wrapper {
    display: flex;
    max-width: 528px;
    flex-wrap: wrap;
    margin:0 auto;
   border:1px grey dotted;
}



section.notes-list-wrapper{
    display: flex;
   flex-direction: column;
}

section.notes-list-wrapper div.block{
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 32px 32px 8px;
}

