


section.notes-creator-wrapper{
    z-index: 120;
    display: flex;
    max-width: 528px;
    width: 496px;
    margin:0 auto;
background-color: rgb(255, 255, 255);

border-radius: 8px;
margin-top: 40px;
    margin-bottom:40px;
}

div.notes-creator-place-saver{
  display:flex;
  justify-content: space-between;
    padding: 12px 16px 12px 16px;
    width: 496px;
background-color: rgb(255, 255, 255);
box-shadow: 0 3px 5px rgba(0,0,0,0.20);
border: 1px solid #dadce0;
border-radius: 8px;
}
