/* .keep-logo-loading {
    height: 89%;
    width: 100%;
    display: flex;
} */

.keep-loading-bgc {
    background-color: #00051e78;
    height: 100vh;
    width: 100%;
    z-index: 23;
    position: absolute;
    top: 0;
    position: fixed;

}

.keep-loading-gif {
    position: absolute;
    z-index: 111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;

    /* background-color: #00051e78; */
}

.notes-app-wrapper {
    font-size: 15px;


}

.notes-app-wrapper button {
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0)
}

.notes-app-wrapper i {
    color: rgb(87, 87, 87);
    transition: all 0.3s;

}

.notes-app-wrapper i:hover {
    color: rgb(34, 34, 34)
}

.note-preview-wrapper div.note {
    position: relative;
    width: 240px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dadce0;
    margin: 10px;
}

.note-preview-wrapper div.title {
    padding-top: 12px;
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    min-height: 38px;
    padding: 16px 16px 0 16px;
}

.note-preview-wrapper div.content {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 30px;
    letter-spacing: .01428571em;
    padding: 4px 16px 12px 16px;
}

.note-preview-wrapper img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.note-preview-wrapper button.pin {
    position: absolute;
    right: 0%;
}

.note-preview-wrapper li {
    display: flex;
}

video {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

audio {
    width: 99%;
    margin: 3px;
    height: 23px;

}