section.note-editor-wrapper {
    z-index: 130;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dadce0;
    margin: 10px;
    -webkit-box-shadow: 2px 7px 35px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 2px 7px 35px 1px rgba(0, 0, 0, 0.20);
    box-shadow: 2px 7px 35px 1px rgba(0, 0, 0, 0.20);
}

@media(min-width:561px) {
    section.note-editor-wrapper {
        width: 510px;
    }
}

div.modal-container {
    z-index: 129;
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: #e5e5e5;
    opacity: .75;
    top: 0%;
    left: 0%;
}

section.note-editor-wrapper input {
    width: 100%;
    display: block;
    border: none;
    background-image: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

section.note-editor-wrapper input:focus {
    border: none;
    outline: none;
}

section.note-editor-wrapper div.tools-container {
    display: flex;
    justify-content: space-between;
}

section.note-editor-wrapper input.text {
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

}

section.note-editor-wrapper div.details {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    background-color: unset;
    border: none;
}

section.note-editor-wrapper input.title {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 12px;
    padding-top: 16px;
    background-color: unset;
    border: none;
}


.note-editor-wrapper input.title {
    padding-top: 12px;
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    min-height: 38px;
    padding: 16px 16px 0 16px;
}

.note-editor-wrapper input.text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 30px;
    letter-spacing: .01428571em;
    padding: 4px 16px 12px 16px;
    background-color: unset;
    border: none;
}

.note-editor-wrapper img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.note-editor-wrapper button.pin {
    position: absolute;
    right: 0%;
}

.note-editor-wrapper div.add-todo {
    display: flex;

}

.note-editor-wrapper div.add-todo input {
    background-color: unset;
    border: none;
}